includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: max
	universalObjectCratesClasses:
		- Nette\Http\SessionSection
	ignoreErrors:
		-
			message: '#Property Nette\\Http\\Request::\$(headers|post|url|method|cookies) is not writable\.#'
			path: %rootDir%/../../../src/PresenterTester.php
			count: 5

		-
			message: '#Call to an undefined method object\:\:__toString\(\)\.#'
			path: %rootDir%/../../../src/TestPresenterResult.php
			count: 1
