includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: max
	universalObjectCratesClasses:
		- Nette\Http\SessionSection
	ignoreErrors:
		-
			message: '#Call to an undefined method object\:\:__toString\(\)\.#'
			path: %rootDir%/../../../src/TestPresenterResult.php
			count: 1

		-
			message: '#Forrest79\\PresenterTester\\Mocks\\Http\\Session::__construct\(\) does not call parent constructor from Nette\\Http\\Session\.#'
			path: %rootDir%/../../../src/Mocks/Http/Session.php
			count: 1

		-
			message: '#Parameter \#3 \$expire \(DateTimeInterface\|int\|string\) of method Forrest79\\PresenterTester\\Mocks\\Http\\Response::setCookie\(\) should be contravariant with parameter \$expire \(int\|null\) of method Nette\\Http\\IResponse::setCookie\(\)#'
			path: %rootDir%/../../../src/Mocks/Http/Response.php
			count: 1
